---
import { schema, facebookPage, instagramPage } from "../constants/schema.js";

const {
  title,
  description = "Professional landscapes services transforming outdoor spaces",
} = Astro.props;

const url = `${Astro.site}${Astro.url.pathname}`;
const image = "https://www.tallboylandscapes.com/images/tallboylandscapes.jpg";

// We don't want the preview site to be indexed
const site = typeof Astro.site === "string" ? Astro.site : Astro.site?.href;
const isPreview = site === "https://preview.tallboylandscapes.com/";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      id="favicon"
      type="image/png"
      href="/favicon.png"
      sizes="32x32"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="icon"
      id="favicon"
      type="image/png"
      href="/favicon-light.png"
      sizes="32x32"
      media="(prefers-color-scheme: light)"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@600;700&display=swap"
      rel="stylesheet"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={image} />
    <meta property="og:site_name" content={title} />
    <meta property="og:locale" content="en_AU" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

    <link rel="canonical" href={url} />
    <link rel="me" href={facebookPage} />
    <link rel="me" href={instagramPage} />
    <meta name="generator" content={Astro.generator} />
    {isPreview && <meta name="robots" content="noindex,nofollow" />}
    <title>{title}</title>
    <script type="application/ld+json" set:html={JSON.stringify(schema)} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import "../styles/global.css";
</style>
